<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clari's pokeapi</title>
</head>

<body>
  <div class="app">
    <header class="header">
      <img src="../../../public/assets/pokemon-logo.svg" alt="original pokemon logo">
    </header>
    <main>
      <section class="search-container">
        <div class="search__input-container">
          <h2>Find your pokemon</h2>
          <input type="text">
          <p>30/1000</p>
        </div>
        <button>back</button>
        <button>next</button>
      </section>

    </main>
  </div>

</body>

</html>
