/*Font-face isn't working*/
@font-face {
  font-family: "vt323regular";
  src: url("../assets/webfontkit-vt323/vt323-regular-webfont.woff2")
      format("woff2"),
    url("../assets/webfontkit-vt323/vt323-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "VT323", sans-serif;
}

body {
  background-color: rgb(195, 23, 23);
}

.app {
  height: 100vh;
  padding: 1rem;
}
